    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (image) */
    
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
    }
    /* Caption of Modal Image */
    
    #modal-caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation */
    
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes zoom {
        from {
            transform: scale(0.1)
        }
        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    
    .img-delete {
        color: #f1f1f1;
        font-size: 20px;
        font-weight: bold;
    }
    
    .modal-close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .modal-close:hover,
    .modal-close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
    
    .uploadFileInput {
        width: 90%;
        height: auto;
    }
    
    .myImage {
        max-width: 80%;
    }
    
    #gallery {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    #gallery2 {
        display: flex;
        /*flex-direction: column; */
        /* 将项目垂直排列，每行一个图片 */
        /* align-items: center; */
        /* 将每一行的图片居中 */
        flex-wrap: wrap;
        /* z-index: 100000000; */
        /* position: relative; */
        max-width: 100%;
        /* 为了应对ui-overlay的z-index */
    }
    
    .image-container {
        margin: 5px;
        border: 1px solid lightgray;
    }
    
    .image-container>img {
        width: 100px;
        height: 75px;
        object-fit: contain;
    }
    
    .setting-img {
        width: 64px;
        height: 64px;
        object-fit: contain;
    }
    
    #delete-zone {
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNkM2QzZDMiIGQ9Ik0xOSA0aC0zLjVsLTEtMWgtNWwtMSAxSDV2MmgxNE02IDE5YTIgMiAwIDAgMCAyIDJoOGEyIDIgMCAwIDAgMi0yVjdINnoiLz48L3N2Zz4=');
        /* 替换为你的图片URL */
        display: inline;
        width: 100px;
    }