.poster-60 {
    max-width: 60%;
    /* 最大宽度为包含元素的100% */
    max-height: 100%;
    /* 最大高度为包含元素的100% */
    width: auto;
    /* 宽度自动缩放以保持原始宽高比 */
    height: auto;
    /* 高度自动缩放以保持原始宽高比 */
}

.poster-80 {
    max-width: 80%;
    /* 最大宽度为包含元素的100% */
    max-height: 100%;
    /* 最大高度为包含元素的100% */
    width: auto;
    /* 宽度自动缩放以保持原始宽高比 */
    height: auto;
    /* 高度自动缩放以保持原始宽高比 */
}

.poster-100 {
    max-width: 100%;
    /* 最大宽度为包含元素的100% */
    max-height: 100%;
    /* 最大高度为包含元素的100% */
    width: auto;
    /* 宽度自动缩放以保持原始宽高比 */
    height: auto;
    /* 高度自动缩放以保持原始宽高比 */
}