div.streaming {
    display: grid;
    grid-template-columns: auto 33%;
    grid-column-gap: 1.001em;
}

#streamAside {
    border: 1px solid lightgray;
}

.streamscreen {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #111;
    padding-top: 0.75em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
}

#streamchat {
    font-size: 95%;
    background-color: #111;
    border: 1px solid #1b1b1b;
    min-height: 19em;
    max-height: 38em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#streamstats {
    font-size: 95%;
    background-color: #111;
    border: 1px solid #1b1b1b;
    overflow-y: hidden;
    overflow-x: hidden;
}

.streamchatheader {
    /*
    position: fixed;
    top: 0;
    */
    width: 100%;
    background-color: #444444;
    border: 1px solid #1b1b1b;
}

.streamchatbody {
    padding-top: 1.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 0.5em;
}


/* 并没有用到这条 */

div.streamingpassage {
    border: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
}

span.streamchatmsg {
    display: block;
    line-height: 1.2em;
}

.liveStreamForbide {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwMWExYSIgc3Ryb2tlLXdpZHRoPSIxLjUiPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0ibTE4LjUgNS41bC0xMyAxMyIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PC9nPjwvc3ZnPg==');
    /* 替换为你的图片URL */
    display: inline;
    /* margin-left: 5px; */
    /* 可以根据需要调整间距 */
}

.liveStreamDelete {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PGRlZnM+PG1hc2sgaWQ9ImlwVERlbGV0ZU9uZTAiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI0Ij48cGF0aCBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJtMTUgMTJsMS4yLTdoMTUuNmwxLjIgNyIvPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZD0iTTYgMTJoMzYiLz48cGF0aCBmaWxsPSIjNTU1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTM3IDEybC0yIDMxSDEzbC0yLTMxeiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNMTkgMzVoMTAiLz48L2c+PC9tYXNrPjwvZGVmcz48cGF0aCBmaWxsPSIjYzBiOWI5IiBkPSJNMCAwaDQ4djQ4SDB6IiBtYXNrPSJ1cmwoI2lwVERlbGV0ZU9uZTApIi8+PC9zdmc+');
    /* 替换为你的图片URL */
    display: inline;
    width: 20px;
}

span.streamchatname {
    font-weight: bold;
}

div.streamchatsep {
    height: 0.8em;
}